---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  ctaText: string;
  hpd: string;
  dfr: string;
  yoe: string;
  ctaLink: string;
  videoUrl?: string;
  imageUrl?: string;
}

const { title, description, ctaText, ctaLink, videoUrl, imageUrl, hpd, dfr, yoe } = Astro.props;
---

<section class="blog-cta">
  <div class="content-wrapper-row">
    <!-- Video Section (If Available) -->
    <div class="video-wrapper">
      {videoUrl ? (
        <div class="iframe-container">
          <iframe
            src={videoUrl}
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
            title={title}
          ></iframe>
        </div>
      ) : (
        <video src="/video-1.mp4" loop controls playsinline></video>
      )}
    </div>

    <!-- Image and Content Section -->
    <div class="blog-cta-wrapper">
      <div class="image">
        <Image
          width="200"
          height="150"
          format="webp"
          class="image-item"
          src={imageUrl ?? "/blogWrapper1.jpg"}
          alt="Blog Preview Image"
        />
      </div>
      <div class="content">
        <h2>{title}</h2>
        <p>{description}</p>
        <a href={ctaLink} target="_blank" rel="noopener noreferrer">
          <span>{ctaText}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="divers-spacer">
    <div class="divers-wrapper">
      <div class="divers-content">
        <div class="number">{hpd}</div>
        <p>Happy Divers</p>
      </div>
      <div class="divers-content">
        <div class="number">{dfr}</div>
        <p>Different Reefs</p>
      </div>
      <div class="divers-content">
        <div class="number">{yoe}</div>
        <p>Years of Experience</p>
      </div>
    </div>
  </div>
</section>

<style>
  .blog-cta {
    width: 100%;
    display: flex;
    color: white;
    background-color: transparent;
    height: fit-content;
    flex-direction: column;
  }

  .content-wrapper-row {
    gap: 2rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .video-wrapper {
    width: 50%;
    padding: 4rem 0;
    position: relative;
  }

  /* Fix iframe aspect ratio */
  .iframe-container {
    width: 100%;
    height: 50vh;
    min-height: 700px;
    position: relative;
    padding-top: 56.25%;
    border-radius: 15px;
    overflow: hidden;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  video {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: cover;
    border-radius: 15px;
  }

  .blog-cta-wrapper {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .blog-cta-wrapper .image {
    height: 45%;
  }

  .image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .blog-cta-wrapper .content {
    gap: 1rem;
    height: 50%;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: space-around;
  }

  .content h2 {
    font-weight: bold;
    font-size: xx-large;
  }

  .content a span {
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #ead91a;
    text-decoration-thickness: 5px;
    text-underline-offset: 4px;
  }

  .content a span:hover {
    color: #d90b16;
    text-decoration-color: #d90b16;
    cursor: pointer;
  }

  .divers-spacer {
    width: 100%;
    background-color: #ead91a;
  }

  .divers-wrapper {
    width: 100%;
    display: flex;
    padding: 3rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .divers-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divers-wrapper p {
    color: #d90b16;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
  }

  .divers-content .number {
    color: #0b0b0b;
    font-size: xxx-large;
    font-weight: bolder;
  }

  @media (max-width: 1200px) {
    .divers-wrapper p {
      font-size: x-large;
    }
    .divers-content .number {
      font-size: xx-large;
    }
  }

  @media (max-width: 900px) {
    .content-wrapper-row {
      flex-direction: column;
    }
    .video-wrapper {
      padding: 0;
      width: 100%;
    }
    .blog-cta-wrapper {
      padding: 0;
      width: 100%;
      justify-content: space-evenly;
    }
  }

  @media (max-width: 720px) {
    .divers-wrapper {
      flex-direction: column;
      gap: 4rem;
    }
    .divers-wrapper p {
      font-size: xx-large;
    }
    .divers-content .number {
      font-size: xxx-large;
    }
    .blog-cta-wrapper .content {
      height: fit-content;
    }
    .content-wrapper-row {
      padding: 3rem 1.5rem;
    }
  }
</style>