---
import { Image } from 'astro:assets';

interface Props {
  links: Array<{
    title: string;
    description: string;
    ctaText: string;
    ctaLink: string;
  }>;
  imageUrl: string;
}

const { links, imageUrl } = Astro.props;
---

<miniLinks>
  <Image
    width="200"
    height="150"
    format="webp"
    class="image"
    src={imageUrl}
    alt="Life Savers on a rack inside the boat"
  />

  <div class="wrapper">
    {links?.map((link, index) => (
      <div class="link-item" key={index}>
        <h4>{link.title}</h4>
        <p>{link.description}</p>
        <a href={link.ctaLink} target="_blank">{link.ctaText ?? "Learn More"}</a>
      </div>
    ))}
  </div>
</miniLinks>
<style>
  miniLinks {
    position: relative;
    background-color: #0b0b0b;
    display: flex;
  }
  miniLinks .image {
    width: 100%;
    opacity: 0.4;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
  }
  miniLinks .wrapper {
    position: absolute;
    top: 50%;
    gap: 5rem;
    left: 50%;
    width: 100%;
    color: white;
    height: 100%;
    display: flex;
    padding: 3rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(-50%, -50%);
  }
  miniLinks .wrapper .link-item {
    gap: 2rem;
    display: flex;
    max-width: 380px;
    flex-direction: column;
  }
  .link-item h4 {
    font-size: xx-large;
    font-weight: bold;
    text-shadow: #0b0b0b 2px 2px 20px;
  }
  .link-item p {
    text-shadow: #0b0b0b 2px 2px 20px;
  }
  .link-item a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #ead91a;
    text-decoration-thickness: 5px;
    text-shadow: #0b0b0b 2px 2px 20px;
  }
  .link-item a:hover {
    color: #ead91a;
  }
  @media (max-width: 900px) {
    .link-item h4 {
      font-size: x-large;
    }
  }
  @media (max-width: 720px) {
    miniLinks .wrapper {
      flex-direction: column;
    }
    miniLinks .image {
      height: 100vh;
      min-height: 1800px;
    }
    miniLinks .wrapper .link-item {
      gap: 2rem;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .link-item h4 {
      font-size: xxx-large;
    }
  }
</style>
